<div class="oli">
    <h3>Oliver Aschwanden</h3>
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                <th>Datum </th>
                <th>Beschreibung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>05.12.2016 </td>
                <td> </td>
            </tr>
            <tr>
                <td>19.12.2016 </td>
                <td> </td>
            </tr>
            <tr>
                <td>09.01.2017 </td>
                <td> </td>
            </tr>
            <tr>
                <td>16.01.2017 </td>
                <td> </td>
            </tr>
            <tr>
                <td>23.01.2017 </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="nils">
    <h3>Nils Oriet</h3>
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                <th>Datum </th>
                <th>Beschreibung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>05.12.2016 </td>
                <td></td>
            </tr>
            <tr>
                <td>19.12.2016 </td>
                <td> </td>
            </tr>
            <tr>
                <td>09.01.2017 </td>
                <td> </td>
            </tr>
            <tr>
                <td>16.01.2017 </td>
                <td> </td>
            </tr>
            <tr>
                <td>23.01.2017 </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="clear:both"></div>