@{
    ViewBag.Title = "Arbeitsprotokoll";
}
<div class="oli">
    <h3>Oliver Aschwanden</h3>
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                <th>Datum </th>
                <th>Beschreibung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>05.12.2016 </td>
                <td>Heute haben wir mit dem Projekt offiziel gestartet. Meine erste Aufgabe war es ein Grundgerüst für unsere Webseite zu erstellen und die nötigen Seiten zu erstellen.</td>
            </tr>
            <tr>
                <td>19.12.2016 </td>
                <td>Heute standen Login und Registration auf dem Programm. Nach ein paar Problemen mit der Datenbank konnten diese Funktionen schon erfolgreich getestet werden.</td>
            </tr>
            <tr>
                <td>09.01.2017 </td>
                <td>Um den Benutzer eine Bewertungsmöglichkeit bereit zu stellen habe ich heute unsere geplante Likefunktion implementiert.</td>
            </tr>
            <tr>
                <td>16.01.2017 </td>
                <td>Heute habe ich an der Willkommens Seite gearbeitet und diese fertig gemacht dabei hatte ich keine nennenswerten Probleme</td>
            </tr>
            <tr>
                <td>23.01.2017 </td>
                <td>Heute haben wir uns mit dem Feinschliff beschäftigt. Und danach die finale Version gepublisht. </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="nils">
    <h3>Nils Oriet</h3>
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                <th>Datum </th>
                <th>Beschreibung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>05.12.2016 </td>
                <td>Heute habe ich das .Net Projekt aufgesetzt und ein Github Repositorie eingerichtet. Als ich jQuery und Bootstrap mit dem Nuget Package Manger hinzugefügt habe, habe ich das erstellte Projekt auf Github hochgeladen und es für Oliver freigegeben. </td>
            </tr>
            <tr>
                <td>19.12.2016 </td>
                <td>Heute habe ich am Fileupload gearbeitet. Das Fenster für den File Upload erscheint in einem Popup. Es werden Fehlermeldungen ausgegeben, falls das File nicht korrekt hochgeladen wurde. </td>
            </tr>
            <tr>
                <td>09.01.2017 </td>
                <td>Heute habe ich die Kommentar Funktion eingebaut. Man kann nun ein Bild kommentieren und der Kommentar erscheint direkt beim Bild. </td>
            </tr>
            <tr>
                <td>16.01.2017 </td>
                <td>Heute habe ich an der Funktion für das Löschen der Medien gearbeitet. Nun wird beim Klicken auf dem Löschen ein Popup Fenster zur Bestätigung angezeigt, und falls der User erneut auf Löschen klickt wird das Bild oder Video vom Server und aus der Datenbank gelöscht. </td>
            </tr>
            <tr>
                <td>23.01.2017 </td>
                <td>Heute haben wir dem Projekt noch den feinschliff verpasst und es anschliessend abgegeben. </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="clear:both"></div>
<div class="fazit">
    <h3>Fazit</h3>
    Am Ende dieser sehr spannenden und lehrreichen Zeit sind wir nun fertig mit unsere Webauftritt Modul. Wir sind sehr zufrieden mit dem entstandenen Projekt. Trotz einigen Problemen mit unserer Datenbank verlief das Projekt allem in allem sehr gut und wir erreichten jeweils während der Schule sehr viel so mussten wir nicht viel Freizeit aufwenden. Ein Grund für den reibungslosen Ablauf verdanken wir in unserer guten Planung. Deswegen konnten wir direkt ab Projektstart schon mit dem Programmieren und Stylen beginnen.
</div>
