
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
<style>
    html {
        height: 100%;
    }

    body {
        padding: 0;
        text-align: center;
        font-family: 'open sans';
        position: relative;
        margin: 0;
        height: 100%;
    }

    .wrapper {
        height: auto !important;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .main {
        float: left;
        width: 100%;
        margin: 0 auto;
    }



    .page-container {
        float: left;
        width: 100%;
        margin: 0 auto 300px;
        position: relative;
    }


    .bg {
        position: absolute;
        min-height: 100% !important;
        width: 100%;
        z-index: 0;
    }

    .ibg-bg {
        position: absolute;
    }

    .main {
        position: relative;
    }
</style>


<div class="wrapper bg" data-ibg-bg="../resources/img/bg.jpg">
    <div class="main">
        <h1>Welcome to Pixeria</h1>
    </div>
</div>
<script>
	  $(document).ready(function(){
       $(".bg").interactive_bg();
		});

		$(window).resize(function() {
		  $(".wrapper > .ibg-bg").css({
		    width: $(window).outerWidth(),
		    height: $(window).outerHeight()
		  })
		})

</script>